extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 About Me!

        p.lead.text-light
          | Full Stack JavaScript Developer in Training.

        .portfolio-bio
          p
            | I am a person who is positive about every aspect of life. There are many things I like to do, to see, and experience.
            | What I like the most about being a Developer is that, it gives me the opportunity to learn and be creative.
            | Being a Developer is an adventurer with no ending, every day I am learning new stuff.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li AJAX
          li Pug
          li Git
          li Node
        h6 Contact Info
        ul
          li 857-352-7106
          li evanbdelgado@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/evandro-delgado-756762b9/' target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/BlackDelga' target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/EvandroBDelgad1' target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
